# Conditions and If statements
## "if statement" is written by using the if keyword

### * The colon (:) is significant and required.
                     * It separates the header of the compound statement from the body.
### The line after the colon must be indented
### All lines indented the same amount after the colon will be executed 

### condition ( Boolean Expression)
* 1 Equals: a == b
* 2 Not Equals: a != b
* 3 Less than: a < b
* 4 Less than or equal to: a <= b
* 5 Greater than: a > b
* 6 Greater than or equal to: a >= b

In [ ]:
if 3 > 0:
  print("3 is greater than 0")

In [ ]:
x ='akdlive'

if x == 'akdlive':
    print('use code')
    print('thank you')

### Indentation
* Python relies on indentation (whitespace at the beginning of a line) to define scope in the code

In [ ]:
a = 3
b = 9
if b > a:
  print("b is greater than a")

## Elif
* The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition"

In [ ]:
x = 3
y = 90
if x > y:
  print("x is greater than y")
elif x < y:
  print("y is greater than x")

In [ ]:
x=90
y=9
if x<y:
    print("less")
else:
    print("greater")

In [ ]:
a = 98
b = 40
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
if a > b: print("a is greater than b")
#If you have only one statement to execute, you can put it on the same line as the if statement
#Short Hand If

In [ ]:
#Short Hand If ... Else
a = 45
b = 123
print("A") if a > b else print("B")

In [ ]:
#Ternary Operators, or Conditional Expressions
a = 45
b = 33
print("A") if a > b else print("=") if a == b else print("B")
#multiple else statements on the same line

In [ ]:
# logical operator and,or,not ..
a = 45
b = 330
c = 90
if a > b and c > a:
    print("Both conditions are True")

In [ ]:
a = 45
b = 33
c = 90
if a > b or c > a:
  print("at least one conditions is True")

In [ ]:
#nested if
x = 56

if x > 23:
  print("Above 23,")
  if x > 2:
    print("and also above 2!")
  else:
    print("but not above 2.")

In [ ]:
x = 56
y = 45
if x > y:
  pass

In [ ]:
#The pass Statement
#if statements cannot be empty, 
#but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error

In [ ]:
if 0:
    print("hi")

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" not in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
else:
    print("not in tuple")

In [ ]:
list = ["apple", "banana", "cherry"]
if "apple" in list:
  print("Yes, 'apple' is in the fruits list")
else:
    print(" not in list")

In [ ]:
set = {"apple", "banana", "cherry"}
if "apple" in set:
  print("Yes, 'apple' is in the fruits list")
else:
    print(" not in list")

## Python For Loops
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [ ]:
x=[2,3,4,5,6]
for i in x:
    print(i)

In [ ]:
for nv in [4,5,6,789,"hi",98.8] :
    print(nv)

In [ ]:
for nv in (4,5,6,789,"hi",98.8) :
    print(nv)

In [ ]:
tup=(4,5,6,789,"hi",98.8)
for nv in tup :
    print(nv)

In [ ]:
tup=("akdlive","akdsc","unacademy")
for nv in tup :
    print("welcome " +nv+ " in my home")

In [ ]:
#Print all key names in the dictionary, one by one
dict= {"price": 3000,
       "item": "pen",
  "year": 2000
}

for x in dict:
  print(x)

In [ ]:
#Print all vallues in the dictionary, one by one
for x in dict:
  print(dict[x])

In [ ]:
s1={1,3,5,2,"hi",1}
for x in s1:
  print(x)

In [ ]:
x=100
if(x%2==0) :
    print("even")

In [ ]:
#Loop through the letters in the string
for x in "akdlive":
  print(x)

In [ ]:
ls = ["akd", "akdlive", "akdsc"]
for x in ls:
  print(x)
  if x == "akdlive":
    break

In [ ]:
ls = ["akd", "akdlive", "akdsc"]
for x in ls:
   if x == "akdlive":
    break
   print(x)

In [ ]:
ls = ["akd", "akdlive", "akdsc"]
for x in ls:
   if x == "akdlive":
    continue
   print(x)

In [ ]:
#range() function returns a sequence of numbers, starting from 0 by default, and increments by 1
for x in range(10):
  print(x)

In [ ]:
for x in range(6, 10):
  print(x)

In [ ]:
for x in range(2, 26,3):
  print(x)

In [ ]:
#nested loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
i = 10
while i <= 100:
  print(i)
  i += 20

In [ ]:
#exit loop if condition is true
i = 10
while i < 90:
    print(i)
    if i == 30:
        break 
    i += 10

In [ ]:
#With the else statement we can run a block of code once when the condition no longer is true
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

In [3]:
#prime number
#A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. 
#The first few prime numbers are {2, 3, 5, 7, 11, â€¦.}
num = 90
  
# If given number is greater than 1 
if num > 1:
     for i in range(2, num):
            
        
       # If num is divisible by any number between  
       # 2 and n / 2, it is not prime 
        if (num % i) == 0:
            print(num, "is not a prime number") 
            break
        else:
            print(num, "is a prime number") 
  

else: 
    print(num, "is not a prime number")

90 is not a prime number

In [ ]:
#count number between 1 to 100 which are divisible by 13
ls=[]
for x in range(1,100):
    if(x%13==0):
        print(x)
        ls.append(x)
print(ls)