# Data Structure
## List
    * List is a collection which is ordered and changeable. Allows duplicate members
    * It can store sequence of objects,these object can be various types
    * You access the list items by referring to the index number
    * Negative indexing is allowed,means beginning from the end, -1 refers to the last item

In [1]:
list1=['akdlive','akdsc','akd']
list1

['akdlive', 'akdsc', 'akd']

In [2]:
list1[0]

'akdlive'

In [3]:
print(list1[0])

akdlive

In [4]:
type(print(list1[0]))

akdlive

NoneType

In [5]:
list2=["akdlive",10,"hi",34.5]#multiple type value can be stored
list2

['akdlive', 10, 'hi', 34.5]

In [6]:
list2[:2]#guess output (upto 2nd element)

['akdlive', 10]

In [8]:
print(type(list2[1]))
type(list2[0])

<class 'int'>

str

In [9]:
list2[2:]#2nd index to last

['hi', 34.5]

In [10]:
list2[-3:-1]

[10, 'hi']

In [11]:
list2[-1:-3]# blank

[]

#To change the value of a specific item, refer to the index number
it is mutable

In [15]:
list2[1]="aru"
print(list2)

['akdlive', 'aru', 'hi', 34.5]

# List Length
 * To determine how many items a list has, use the len() function

In [16]:
len(list2)

4

# To add an item to the end of the list, use the append() method

In [17]:
thislist = ["gg",23, "yy",76.8]
thislist.append("oo")#accept only one argument to add multiple value use list.extend([34,87,2])
print(thislist)
#thislist.append([34,67,98]), for one number u use list.append(34)

['gg', 23, 'yy', 76.8, 'oo']

# To add an item at the specified index, use the insert() method

In [18]:
thislist.insert(1, "88")
print(thislist)

['gg', '88', 23, 'yy', 76.8, 'oo']

In [19]:
type(thislist[1])

str

# methods to remove items
    1* remove() method removes the specified item
    2* pop() method removes the specified index,or the last item if index is not specified
    3* del keyword removes the specified index,del keyword can also delete the list completely
    4* clear() method empties the list

In [20]:
thislist

['gg', '88', 23, 'yy', 76.8, 'oo']

In [21]:
thislist.remove("yy")
print(thislist)

['gg', '88', 23, 76.8, 'oo']

In [22]:
thislist.pop()
print(thislist)

['gg', '88', 23, 76.8]

In [24]:
thislist.pop(-1)
print(thislist)

['gg', '88', 23]

In [25]:
thislist = [20,45,"apple", "banana", "cherry"]
del thislist[1]
print(thislist)

[20, 'apple', 'banana', 'cherry']

In [26]:
del thislist

In [27]:
thislist# error, name 'thislist' is not defined

NameError: name 'thislist' is not defined

In [28]:
thislist = [20,89.7, "akdlive",]
thislist.clear()#empties the list, not delete
print(thislist)

[]

In [29]:
thislist#empties the list

[]

In [30]:
thislist = [20,89.7, "akdlive",]

In [31]:
listnew=thislist#it executes but it is refrence only

In [32]:
listnew

[20, 89.7, 'akdlive']

# Copy List
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2
## You may use following methods
 * copy() method
 * list() method

In [33]:
list1 = [45,67.8,"e",78]
list2 = list1.copy()
print(list1)

[45, 67.8, 'e', 78]

In [34]:
list1[1]=67
print(list1)
print(list2)
#now both list are different

[45, 67, 'e', 78]
[45, 67.8, 'e', 78]

In [35]:
#use of built in function 
list1 = [45,67.8,"e",78]
list2 = list(list1)
print(list1)

[45, 67.8, 'e', 78]

# Join Two Lists
* easiest ways are by using the + operator

In [36]:
list1 = ["rrr", "tt" , 43]
list2 = [11, 12, 13]

list3 = list1 + list2
print(list3)

['rrr', 'tt', 43, 11, 12, 13]

In [37]:
#join two lists are by appending all the items from list2 into list1, one by one
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

# list() Constructor
you may use the list() constructor to make a new lis

In [40]:
list5 = list(("a", "89", "c",98)) # note the double round-brackets
print(list5)

['a', '89', 'c', 98]

In [41]:
#checking existing element in list use "in"
list2=[2,3,4,5,6,2,22]
6 in list2

True

In [44]:
list2=["akdlive","akdsc","unacademy"]
"akdlive" in list2

True

In [45]:
list2=["akdlive","akdsc","unacademy"]
'akdlive' not in list2

False

In [42]:
#check min and max value using min() and max() in the list
#it does not work for string value. it works for numbers only
list2=[2,3,4,5,6,2,22]
print(max(list2))
print(min(list2))

22
2

In [43]:
list2=[2.2,3,4,5,6,1.5,22]
print(max(list2))
print(min(list2))

22
1.5

In [47]:
#sorted..sorted(list),,will not change original list
list2=[2.2,3,4,5,6,1.5,22]
sorted(list2)

[1.5, 2.2, 3, 4, 5, 6, 22]

In [48]:
list2

[2.2, 3, 4, 5, 6, 1.5, 22]

In [49]:
#use sort..change list in sorted list
list2.sort()
print(list2)

[1.5, 2.2, 3, 4, 5, 6, 22]