# Data Structure
## Tuple
 * It is immutable. (list are mutable)
 * It can not be appended or extended
 * Elements in Tuple can not be edited once assigned
 * It follows same indexing  rule as list
 * use () to define tuple ( for list use [])

In [1]:
tup=("akdlive",98,89.7,"unacademy")
print(tup)
print(type(tup))

('akdlive', 98, 89.7, 'unacademy')
<class 'tuple'>

In [2]:
#access tuple items by referring to the index number, inside square brackets
tup[1]

98

In [3]:
#range of valu
tup[2:4]#2nd index to 4th element

(89.7, 'unacademy')

In [4]:
print(tup)
tup[-4:-1]# index -4 (included) to index -1 (excluded)

('akdlive', 98, 89.7, 'unacademy')

('akdlive', 98, 89.7)

In [5]:
tup[1]="hi"# error ,'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [6]:
tup.append(56)# Error,AttributeError: 'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
#Tuples are unchangeable, or immutable
#But You can convert the tuple into a list, change the list, and convert the list back into a tuple.
x = ('akdlive', 98, 89.7, 'unacademy')
y = list(x)
y[1] = "akdsc"
x = tuple(y)
print(x)

('akdlive', 'akdsc', 89.7, 'unacademy')

In [8]:
#Create Tuple With One Item
#To create a tuple with only one item, you have to add a comma after the item, 
#otherwise Python will not recognize it as a tuple.
tuple1= ("akd",)
print(type(tuple1))

#NOT a tuple, it is string
tuple2 = ("aakd")
print(type(tuple2))

<class 'tuple'>
<class 'str'>

In [10]:
#Remove Tuple
#Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely
tuple2 = ("ggg",22, 234)
del tuple2
print(tuple2) #this will raise an error because the tuple no longer exists

NameError: name 'tuple2' is not defined

In [11]:
#join two tuple using + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Data Structure
## Set
    * A set is a collection which is unordered and unindexed
    * Iterable ,mutable and no duplicate values

In [12]:
s1={1,3,5,2,"hi",1}# only unique value stored
s1

{1, 2, 3, 5, 'hi'}

In [13]:
3 in s1

True

In [14]:
1 in s1

True

In [15]:
#change item
#Once a set is created, you cannot change its items, but you can add new items
set1 = {"ap", 23, 43}
set1.add("or")# you may use update method To add more than one item 

print(set1)

{'or', 43, 'ap', 23}

In [16]:
set1 = {"ap", 23, 43}#set is unordered
set1.update([3,4,5])
set1

{23, 3, 4, 43, 5, 'ap'}

# Dictionaries
    * A dictionary is a collection which is unordered, changeable and indexed.
    * In Python dictionaries are written with curly brackets, and they have keys and values
    * keys and values can be of any type

In [17]:
dict= {"price": 3000,
       "item": "pen",
  "year": 2000
}
print(dict)

{'price': 3000, 'item': 'pen', 'year': 2000}

In [18]:
#You can access the items of a dictionary by referring to its key name, inside square brackets
dict["price"]# dictionaries are indexed through key 
#There is also a method called get() that will give you the same result ...dict.get("price")

3000

In [ ]:
dict[1]# it is error

In [19]:
#You can change the value of a specific item by referring to its key name
dict["year"] = 2020

In [20]:
dict

{'price': 3000, 'item': 'pen', 'year': 2020}

In [21]:
3000 in dict# false ,search using key

False

In [22]:
"price" in dict #true

True

In [23]:
print(len(dict))

3

In [24]:
#Removing Items using pop() method....popitem() method removes the last inserted item ...dict.popitem()
dict= {"price": 3000,
       "item": "pen",
  "year": 2000
}
dict.pop("item")
print(dict)

{'price': 3000, 'year': 2000}

In [ ]:
#The del keyword removes the item with the specified key name....del dict["model"]
#The del keyword can also delete the dictionary completely.....del dict
#The clear() method empties the dictionary......dict.clear()
#You cannot copy a dictionary simply by typing dict2 = dict1,
#because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2
#There are ways to make a copy, one way is to use the built-in Dictionary method copy()
# example for copy....mydict = thisdict.copy()
# example for copy.....mydict = dict(thisdict)

In [25]:
#A dictionary can also contain many dictionaries, this is called nested dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [26]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}